@model SpeedzCarWashClient.Models.BookingVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.CustomerFirstName" class="control-label"></label>
                <input asp-for="Booking.CustomerFirstName" class="form-control" />
                <span asp-validation-for="Booking.CustomerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CustomerLastName" class="control-label"></label>
                <input asp-for="Booking.CustomerLastName" class="form-control" />
                <span asp-validation-for="Booking.CustomerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PhoneNumber" class="control-label"></label>
                <input asp-for="Booking.PhoneNumber" class="form-control" />
                <span asp-validation-for="Booking.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Email" class="control-label"></label>
                <input asp-for="Booking.Email" class="form-control" />
                <span asp-validation-for="Booking.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.DateBooked" class="control-label"></label>
                <input asp-for="Booking.DateBooked" class="form-control" />
                <span asp-validation-for="Booking.DateBooked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleMake" class="control-label"></label>
                <input asp-for="Booking.VehicleMake" class="form-control" />
                <span asp-validation-for="Booking.VehicleMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleModel" class="control-label"></label>
                <input asp-for="Booking.VehicleModel" class="form-control" />
                <span asp-validation-for="Booking.VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleColor" class="control-label"></label>
                <input asp-for="Booking.VehicleColor" class="form-control" />
                <span asp-validation-for="Booking.VehicleColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleLicensePlateNumber" class="control-label"></label>
                <input asp-for="Booking.VehicleLicensePlateNumber" class="form-control" />
                <span asp-validation-for="Booking.VehicleLicensePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Price" class="control-label"></label>
                <input asp-for="Booking.Price" class="form-control" />
                <span asp-validation-for="Booking.Price" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <input asp-for="PaymentMethodId" class="form-control" />
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>*@

            <div class="">
                <label asp-for="Booking.PaymentMethodId" class="control-label"></label>
                <select asp-for="Booking.PaymentMethodId" asp-items="@Model.PaymentMethod" class="form-control">
                    <option selected disabled>--Select Payment Method--</option>
                </select>
            </div>

            @*<div class="form-group">
                <label asp-for="WasherId" class="control-label"></label>
                <input asp-for="WasherId" class="form-control" />
                <span asp-validation-for="WasherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <input asp-for="VehicleId" class="form-control" />
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
